/* Scrollbar Track */
::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
    background-color: rgba(255, 255, 255, 0.55); /* Background color with transparency */
    border-radius: 10px; /* Border radius to match the glassmorphism effect */
}
/* Scrollbar Thumb */
::-webkit-scrollbar-thumb {
    background-color: rgba(31, 38, 135, 0.37); /* Color of the scrollbar thumb */
    border-radius: 10px; /* Border radius to match the glassmorphism effect */
    box-shadow: 0 0 10px rgba(31, 38, 135, 0.5); /* Box shadow for the thumb */
}
/* Optionally, you can style the scrollbar track on hover */
::-webkit-scrollbar:hover {
    background-color: rgba(255, 255, 255, 0.75); /* Adjusted background color on hover */
}
/* Optionally, you can style the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(31, 38, 135, 0.5); /* Adjusted color on hover */
}

::selection {
   background-color: red;
    color: white; /* Text color for the selected text */
}

.todoWrapper{
    position: relative;
    max-width: 700px;
    min-width: 80%;
    min-height: 90vh;
    border-radius: 20px;
    padding: 0 20px;
    background: rgba( 255, 255, 255, 0.3 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 2px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.popupDiv{
    border-radius: 20px;
    padding: 0 20px;
    background: rgb(249, 246, 246);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 2px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 400px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}
.popupDiv button{
    color: rgb(239, 88, 24);
    display: grid;
    place-items: center;
}

.todoList{
    padding: 30px 15px;
    display: grid;
    place-items: center;
}

.emptyTodo{
    font-size: 29px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.deleteAll{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    padding: 3px 10px;
    cursor: pointer;
    background-color:red;
    color: rgb(255, 255, 255);
    border-radius: 4px;
    outline: none;
    border: none;
    transition: all .3s ease-in-out;
}

.deleteAll:hover{
    background-color: rgb(255, 255, 255);
    color: red;
}